<% if @my_data.present? %>
<div class="bus-list">
  <% @my_data[:buses].each do |bus| %>
    <li style="border: 1px solid black; padding: 20px; margin:10px;">
      <table>
        <tr>
          <th>
            <h3 style="display:inline; margin-right:50px;"><%= bus.name %></h3>
            <p style=" margin-right:50px;"><%= bus.bus_type %></p>
          </th>
          <th>
            <h4 style="display:inline"> Price: &#8377 <%= bus.price %> </h4>
          </th>
        </tr>
        <tr>
          <td>
            <div style="display:inline;">
              <table>
                <tr>
                  
                  <th><h5 style="padding: 15px;"><%= DateTime.parse(bus.despeture_time.in_time_zone("Kolkata").strftime("%r")).strftime("%r")%></h5></th>
                  <th><h5 style="padding: 15px;"><%= DateTime.parse(bus.arrival_time.in_time_zone("Kolkata").strftime("%r")).strftime("%r") %></h5></th>
                   
                  <th>
                     <h4 style="display:inline"> total seats: <%= bus.total_seats %> </h4>
                      <h4 class="mb-3">Available Seats: <%= bus.available_seats %></p>
                  </th>
                </tr>

                  <div class="book-button">
                      <%= link_to "Book Bus", new_ticket_path(:bus_id => bus.id, :date => @my_data[:booking_date]), class: "btn btn-primary" %>
                 </div>

                
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td><%= @my_data[:booking_date] %></td>
        </tr>
      </table>
    </li>
  <% end %>
<% else %>
  <div>
    <h1>Sorry! No buses found for this route</h1>
  </div>
<% end %>
